/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* Roster Screen */

.early-alert .sent-message, .early-alert .error-message {
    margin-bottom: 16px;
}

.early-alert .course-label {
    font-size: 14px;
    padding: .5em;
}
.early-alert .course-select {
    border: 1px solid darkGray;
    font-size: 14px;
    padding: .5em;
}

/* Form Screen */

.early-alert .alert-form {
    width: 900px
}

.early-alert .ea-label {
    float: right;
    margin: 3px 0;
}

.early-alert .ea-required {
    float: right;
    margin: 3px 0 3px 6px;
    color: #F00;
}

.early-alert .ea-input, .early-alert .ea-buttons {
    float: right;
    margin: 3px 0 3px 4px;
    width: 700px;
}

.early-alert .ea-input input, .early-alert .ea-input select, .early-alert .ea-input textarea {
    width: 600px;
}

.ea-input p {
    margin: 3px 0 6px 0;
}

.ea-input textarea {
    height: 100px;
}

.early-alert .ea-input ul {
    margin: 0;
    padding-left: 20px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 20px;
}

.early-alert .ea-clear {
    clear: both;
}

.suggestions-dialog {
    width: 400px;
}

.suggestions-dialog ul li {
    list-style-type: none;
}

.suggestions-dialog li input[type="text"] {
    width: 240px;
}

/* the .ea-input has to be present in this selector to work around selector
   precedence conflicts with uP sheets which otherwise prevent application of
   this style to certain form fields (esp emailCc) */
.early-alert .ea-input .invalid {
    border: 1px red solid;
}

td.createdDate{
    width:180px
}
td.status{
    width:50px
}

td.lastResponseDate{
    width:180px
}

td.courseTitle{
    width:150px
}

td.courseTermName{
    width:150px
}


