.addPersonIcon {
background-image: url('/ssp/images/add-person-icon.png') !important;
}

.addToolIcon {
height: 10px;
width: 10px;
background-image: url('/ssp/images/add-tool-icon.png') !important;
}

.confidentialityAgreementIcon{
background-image: url('/ssp/images/confidentiality-agreement-icon.png') !important;
}

.deletePersonIcon {
background-image: url('/ssp/images/delete-person-icon.png') !important;
}

.displaySearchIcon {
background-image: url('/ssp/images/display-search-icon.png') !important;
}

.displayCaseloadIcon {
background-image: url('/ssp/images/display-caseload-icon.png') !important;
}

.earlyAlertResponseIcon {
background-image: url('/ssp/images/mail-reply-icon.png') !important;
}

/*
.early-alert-tree-panel .x-tree-icon-parent
{
    background-image: url('/ssp/images/early-alert-folder-icon.png') !important;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.early-alert-tree-panel .x-grid-tree-node-expanded .x-tree-icon-parent
{
    background-image: url('/ssp/images/early-alert-folder-icon.png') !important;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}


.early-alert-tree-panel .x-tree-icon-leaf {    
    background-image: url('/ssp/images/early-alert-folder-icon.png') !important;
    height: 16px;
    width: 16px;
}
*/

.editPersonIcon {
background-image: url('/ssp/images/edit-person-icon.png') !important;
}

.emailIcon {
background-image: url('/ssp/images/email-icon.png') !important;
}

.helpIcon {
background-image: url('/ssp/images/help-icon.png') !important;
}

.printIcon {
background-image: url('/ssp/images/print-icon.png') !important;
}

.retrieveCaseloadIcon {
background-image: url('/ssp/images/retrieve-caseload-icon.png') !important;
}

.searchIcon {
background-image: url('/ssp/images/search-icon.png') !important;
}

.studentHistoryIcon {
background-image: url('/ssp/images/student-history-report-icon.png') !important;
}

.setNonParticipatingStatusIcon {
background-image: url('/ssp/images/set-non-participating-status-icon.png') !important;
}

.setNoShowStatusIcon {
background-image: url('/ssp/images/set-no-show-status-icon.png') !important;
}

.setActiveStatusIcon {
background-image: url('/ssp/images/set-active-status-icon.png') !important;
}

.setTransitionStatusIcon {
background-image: url('/ssp/images/set-transition-status-icon.png') !important;
}

.caseload-early-alert-indicator > td { 
background:#f6c8ba !important; 
}

.caseload-appointment-indicator > td { 
background:#ffff00 !important; 
}

