/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.addPersonIcon {
background-image: url('/ssp/images/add-person-icon.png') !important;
}

.addToolIcon {
height: 10px;
width: 10px;
background-image: url('/ssp/images/add-tool-icon.png') !important;
}

.confidentialityAgreementIcon{
background-image: url('/ssp/images/confidentiality-agreement-icon.png') !important;
}

.deletePersonIcon {
background-image: url('/ssp/images/delete-person-icon.png') !important;
}

.displaySearchIcon {
background-image: url('/ssp/images/display-search-icon.png') !important;
}

.displayCaseloadIcon {
background-image: url('/ssp/images/display-caseload-icon.png') !important;
}

.earlyAlertResponseIcon {
background-image: url('/ssp/images/mail-reply-icon.png') !important;
}

.editPencilIcon {
background-image: url('/ssp/images/pencil.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.deleteIcon {
background-image: url('/ssp/images/delete-icon.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.mapPrintIcon {
background-image: url('/ssp/images/print-icon.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.mapEmailIcon {
background-image: url('/ssp/images/email-icon.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.planMoveBackwardIcon {
background-image: url('/ssp/images/backward.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.planMoveForwardIcon {
background-image: url('/ssp/images/forward.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.mapNotesIcon {
background-image: url('/ssp/images/notes.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.planEmailIcon {
background-image: url('/ssp/images/email-icon.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.mapFAIcon {
background-image: url('/ssp/images/dollar2.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.mapClearSearchIcon {
background-image: url('/ssp/images/cancelsearchIcon.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

.overviewIcon {
background-image: url('/ssp/images/document.png') !important;
background: transparent;
 border-style:none;
 background-repeat: no-repeat;
}

/*
.early-alert-tree-panel .x-tree-icon-parent
{
    background-image: url('/ssp/images/early-alert-folder-icon.png') !important;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.early-alert-tree-panel .x-grid-tree-node-expanded .x-tree-icon-parent
{
    background-image: url('/ssp/images/early-alert-folder-icon.png') !important;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}


.early-alert-tree-panel .x-tree-icon-leaf {    
    background-image: url('/ssp/images/early-alert-folder-icon.png') !important;
    height: 16px;
    width: 16px;
}
*/

.editPersonIcon {
background-image: url('/ssp/images/edit-person-icon.png') !important;
}

.emailIcon {
background-image: url('/ssp/images/email-icon.png') !important;
}

.helpIcon {
background-image: url('/ssp/images/help-icon.png') !important;
}

.multiselect-invalid .x-boundlist {
    border-color: Red !important;
}

.printIcon {
background-image: url('/ssp/images/print-icon.png') !important;
}

.retrieveCaseloadIcon {
background-image: url('/ssp/images/retrieve-caseload-icon.png') !important;
}

.searchIcon {
background-image: url('/ssp/images/search-icon.png') !important;
}

.studentHistoryIcon {
background-image: url('/ssp/images/student-history-report-icon.png') !important;
}

.setNonParticipatingStatusIcon {
background-image: url('/ssp/images/set-non-participating-status-icon.png') !important;
}

.setNoShowStatusIcon {
background-image: url('/ssp/images/set-no-show-status-icon.png') !important;
}

.setActiveStatusIcon {
background-image: url('/ssp/images/set-active-status-icon.png') !important;
}

.setTransitionStatusIcon {
background-image: url('/ssp/images/set-transition-status-icon.png') !important;
}

.caseload-early-alert-indicator > td { 
background:#f6c8ba !important; 
}

.caseload-appointment-indicator > td { 
background:#ffff00 !important; 
}

.ssp-form {
    background-color:#dfe8f6;
}

.makeTransparent{
	background: transparent;
 border-style:none;
}

.x-item-disabled .x-form-item-label,
.x-item-disabled .x-form-cb-label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: .9;
}

.x-item-disabled .x-form-field{
	opacity: 0.5;
}

.x-item-disabled .x-form-item-body {    
    background-color:#dddddd;
}

.x-ie6 .x-item-disabled {
    filter: none;
}

.studentpanel .x-tool {
    left: 0 !important;
	
}

.studentpanel .x-panel-header-text {
	padding-left: 15px;
}

.configgrid .x-grid-row .x-grid-cell-inner {
    white-space: normal;
}

.configgrid .x-grid-row-over .x-grid-cell-inner {
   font-weight: bold;
   white-space: normal;
}
