.list {
    padding-left: 16px;
    padding-bottom: 10px;
}
.list li{
    list-style: square;
    padding: 2px;
}

pre {
    font-size: 11px; 
}

.sspOuter {
	height: 700px;
}

.sspOuter div {
	height: 100%;
}
