<div id="personal">
	<div id="personal-left">
		<table>
			<tbody>
				<tr>
					<td><label>First:</label></td>
					<td><input type="text" value="{{student.firstName}}" /></td>
				</tr>
				<tr>
					<td><label>Middle:</label></td>
					<td><input type="text" value="{{student.middleInitial}}" /></td>
				</tr>
				<tr>
					<td><label>Last:</label></td>
					<td><input type="text" value="{{student.lastName}}" /></td>
				</tr>
				<tr>
					<td><label>Tartan ID:</label></td>
					<td><input type="text" value="{{student.uniqueSchoolUserID}}" /></td>
				</tr>
				<tr>
					<td><label>Birth Date:</label></td>
					<td><input type="text" value="{{student.birthDate}}" /></td>
				</tr>
				<tr>
					<td><label>Email (School):</label></td>
					<td><input type="text" value="{{student.emailSchool}}" /></td>
				</tr>
				<tr>
					<td><label>Email (Home):</label></td>
					<td><input type="text" value="{{student.emailHome}}" /></td>
				</tr>					
			</tbody>
		</table>
	</div>
	<div id="personal-right">
		<table>
			<tbody>
				<tr>
					<td><label>Home Phone:</label></td>
					<td><input type="text" value="{{student.homePhone}}" /></td>
				</tr>
				<tr>
					<td><label>Work Phone:</label></td>
					<td><input type="text" value="{{student.workPhone}}" /></td>
				</tr>
				<tr>
					<td><label>Cell Phone:</label></td>
					<td><input type="text" value="{{student.cellPhone}}" /></td>
				</tr>
				<tr>
					<td><label>Address:</label></td>
					<td><input type="text" value="{{student.address}}" /></td>
				</tr>
				<tr>
					<td><label>City:</label></td>
					<td><input type="text" value="{{student.city}}" /></td>
				</tr>
				<tr>
					<td><label>State:</label></td>
					<td><input type="text" value="{{student.state}}" /></td>
				</tr>
				<tr>
					<td><label>Zip Code:</label></td>
					<td><input type="text" value="{{student.zipCode}}" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="demographics">
	<h3>Demographics</h3>
</div>
<div id="educational-plan">
	<h3>Educational Plan</h3>
</div>    
