<!--

    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<div class="footer-content">
	<span class="disclaimer">
		Sinclair Community College provides this internet site to inform students of various resources. 
		Sinclair Community College does not endorse all the information included and cannot make any claims or assume any responsibility as to the usefulness and reliability of all the information provided.
		The information provided is not intended as a substitute for assistance from a licensed professional.
	</span>
	
	<span class="copyright">
		<p>Copyright &copy; 2011 Sinclair Community College.  All rights reserved.</p>
	</span>
</div>
