<img src="images/student-pic-large.png" width="150" height="150"></img>
<div id="profile-details">
	<div id="profile-left">
		<table>
			<tbody>
				<tr>
					<td><label>Student:</label></td>
					<td><label>{{student.firstName}} {{student.middleInitial}} {{student.lastName}}</label></td>
				</tr>
				<tr>
					<td><label>Tartan ID:</label></td>
					<td><label>{{student.uniqueSchoolUserID}}</label></td>
				</tr>
				<tr>
					<td><label>Birth Date:</label></td>
					<td><label>{{student.birthDate}}</label></td>
				</tr>
				<tr>
					<td><label>Home Phone:</label></td>
					<td><label>{{student.homePhone}}</label></td>
				</tr>
				<tr>
					<td><label>Work Phone:</label></td>
					<td><label>{{student.workPhone}}</label></td>
				</tr>
				<tr>
					<td><label>Cell Phone:</label></td>
					<td><label>{{student.cellPhone}}</label></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="profile-right">
		<table>
			<tbody>
				<tr>
					<td><label>Address:</label></td>
					<td><label>{{student.address}}</label></td>
				</tr>
				<tr>
					<td><label>City:</label></td>
					<td><label>{{student.city}}</label></td>
				</tr>
				<tr>
					<td><label>State:</label></td>
					<td><label>{{student.state}}</label></td>
				</tr>
				<tr>
					<td><label>Zip Code:</label></td>
					<td><label>{{student.zipCode}}</label></td>
				</tr>
				<tr>
					<td><label>Email (School):</label></td>
					<td><label>{{student.emailSchool}}</label></td>
				</tr>
				<tr>
					<td><label>Email (Home):</label></td>
					<td><label>{{student.emailHome}}</label></td>
				</tr>					
			</tbody>
		</table>
	</div>
</div>