.page .header {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.page .content {
  min-height: 550px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.page .footer {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.task-list {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.task-list .tasks-listview-container {
  height: 410px;
}
.task-list .ui-listview .ui-btn.ui-li .ui-btn-inner.ui-li .ui-btn-text {
  height: 121px;
}
.task-list .ui-listview .ui-btn.ui-li .ui-btn-inner.ui-li .ui-btn-text .task .ui-btn {
  display: inline-block;
}
#guide-referrals-page .referrals .drill-down-container {
  height: 330px;
}
#search-page .referral-search .search-form .ui-input-search {
  width: 260px;
}
#search-page .referral-search .drill-down-container {
  height: 282px;
}
