/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.drill-down-master-view .ui-listview, .drill-down-detail-view .ui-listview {
  position: absolute;
  width: 100%;
}
.page .header .banner h1 {
  padding-top: 16px;
}
.page .header .ui-header {
  height: 40px;
}
.task-list .ui-header .ui-navbar {
  padding-left: 0px;
}
.task-list .task .ui-btn {
  width: 140px;
}
#login-page .login-form {
  padding-top: 10px;
}
#login-page .login-form .login-form-button-container {
  padding-left: 0px;
}
#home-page .introduction {
  padding-top: 10px;
}
#guides-page .guide-list {
  padding-top: 10px;
}
#guide-introduction-page .introduction {
  padding-top: 10px;
}
#guide-question-page .question {
  padding-top: 10px;
}
#guide-referrals-page .referrals {
  padding-top: 10px;
}
#guide-summary-page .summary {
  padding-top: 10px;
}
#search-page .referral-search {
  padding-top: 10px;
}
#search-page .referral-search .search-form .ui-field-contain {
  padding-top: 0px;
}
#search-page .referral-search .search-form .ui-field-contain label {
  padding-top: 8px;
}
#search-page .referral-search .search-form .ui-field-contain .ui-input-search {
  display: inline;
  position: absolute;
  padding-top: 2px;
  padding-left: 8px;
  padding-bottom: 2px;
  padding-right: 30px;
  width: 300px;
}
#search-page .referral-search .search-form .ui-field-contain .ui-input-search .ui-input-text {
  padding-top: 2px;
}
#search-page .referral-search .search-form .ui-field-contain .ui-btn-inline {
  display: inline;
  position: absolute;
  right: 0px;
  width: 68px;
  height: 31px;
  margin-top: 0px;
}
#search-page .referral-search .search-form .ui-field-contain .ui-btn-inline .ui-btn-inner {
  padding-top: 6px;
}
#contact-page .contact-form {
  padding-top: 10px;
}
#contact-page .contact-form .contact-form-button-container {
  padding-left: 0px;
}
#intake-page .intake-form {
  padding-top: 10px;
}
#intake-page .intake-form .ui-select .ui-btn.ui-disabled {
  background-color: #ddd;
}
#intake-page .intake-form .ui-field-contain.required > label {
  font-weight: bold;
}
#intake-page .intake-form .ui-field-contain.required .ui-controlgroup-label {
  font-weight: bold;
}
#intake-page .intake-form .ui-field-contain.invalid > label {
  color: #900;
  font-weight: bold;
}
#intake-page .intake-form .ui-field-contain.invalid .ui-controlgroup-label {
  color: #900;
  font-weight: bold;
}
#intake-page .intake-form input[type=checkbox], #intake-page .intake-form input[type=radio] {
  width: 26px;
  height: 26px;
}
#intake-page .intake-form .ui-controlgroup-controls label {
  padding-left: 48px;
}
